<h1>Welcome to Audissey</h1>

<p>The only booking platform with GUARANTEED BOOKINGS</p>

<% if current_user %>
  <% if current_user.artist_name %>
    <p>
      All right, <%= current_user.artist_name %>. You're all set! Now share your profile link to get your bookings.
    </p>
    <%= link_to user_url(current_user.artist_name) %>
  <% else %>
    <p>Hi <%= current_user.name %>, so nice to have you.</p>
    <%= form_for current_user do |f| %>
      <p>Please set your artist name</p>
      <%= f.text_field :artist_name %>
      <%= f.submit %>
    <% end %>
  <% end %>
  <%= link_to "Log out", sessions_path, method: 'delete' %>
<% else %>
  <p>We are using Google Calendar as the authoritative source to manage availability.</p>
  <%= link_to 'Sign in with my Google account', google_calendar_auth_path %>
<% end %>