<h1>Welcome to buhrmi bookings</h1>

<% if current_user %>
  <% if current_user.artist_name && current_user.google_calendar_id %>
    <p>
      All right, <%= current_user.artist_name %>. You're all set! Next, share your profile and get booked: <%= link_to user_url(current_user.artist_name), user_url(current_user.artist_name) %>
    </p>
    
  <% elsif !current_user.google_calendar_id %>
    All right, <%= current_user.name %>. Please select the calendar that you want to use to manage your bookings.
    <%= form_for current_user do |f| %>
      <%= f.select :google_calendar_id, current_user.calendars.items.collect { |calendar| [calendar.summary, calendar.id] } %>
      <%= f.submit "Use this calendar" %>
    <% end%>
  <% elsif !current_user.artist_name %>
    <p>Okay. What should your artist name be?</p>
    <%= form_for current_user do |f| %>
      <p>Please set your artist name</p>
      <%= f.text_field :artist_name %>
      <%= f.submit %>
    <% end %>
  <% end %>
  <%= link_to "Log out", sessions_path, method: 'delete' %>
<% else %>
  <%= link_to 'Connect my Calendar', google_calendar_auth_path %>
<% end %>